<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.XamForms.UserDialogs" version="3.0.0" targetFramework="xamarinios10" />
  <package id="ExifLib.PCL" version="1.0.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="xamarinios10" />
  <package id="PCLStorage" version="1.0.2" targetFramework="xamarinios10" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="1.3.1.6296" targetFramework="xamarinios10" />
  <package id="XLabs.Core" version="2.0.0-pre8" targetFramework="xamarinios10" />
  <package id="XLabs.Forms" version="2.0.0-pre8" targetFramework="xamarinios10" />
  <package id="XLabs.IoC" version="2.0.0-pre8" targetFramework="xamarinios10" />
  <package id="XLabs.IoC.Ninject" version="2.0.0-pre8" targetFramework="xamarinios10" />
  <package id="XLabs.Platform" version="2.0.0-pre8" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization" version="2.0.0-pre8" targetFramework="xamarinios10" />
  <package id="XLabs.Serialization.JSON" version="2.0.0-pre8" targetFramework="xamarinios10" />
</packages>